<div class="products-container">
  <h1>Products</h1>
  @if (productsService.allProducts.isLoading()) {
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  } @else {
    @for (product of productsService.allProducts.value().products; track product.id) {
      <app-product-card [product]="product"></app-product-card>
    }
    <div class="pagination-container">
      <ngb-pagination class="ms-auto"
                      [collectionSize]="productsService.allProducts.value().total"
                      [page]="productsService.pageNumber()"
                      [pageSize]="productsService.pageSize()"
                      [maxSize]="5"
                      [rotate]="true"
                      [boundaryLinks]="shouldShowBoundaryLinks()"
                      (pageChange)="changePage($event)"
      />
      <div class="page-size-container">
        <span>Per page: </span>
        <ui-dropdown class="page-size-dropdown">
          <ng-container button>
            <span>{{ productsService.pageSize() }}</span>
          </ng-container>

          <ng-container dropdown-menu>
            @for (size of PAGE_SIZE_OPTIONS; track size) {
              <ui-button
                [type]="'secondary'"
                [outline]="true"
                (click)="changePageSize(size)">{{ size }}
              </ui-button>
            }
          </ng-container>
        </ui-dropdown>
      </div>
    </div>
  }

</div>
