<div class="product-card-container">
  <div class="preview-wrapper">
    <span class="preview-title" [ngbTooltip]="product.title">{{ product.title }}</span>
    <img class="preview-image" [ngSrc]="product.images[0]"
         width="200"
         height="200"
         draggable="false"
         alt="no image found">
  </div>
  <span class="description">{{ product.description }}</span>
  <div class="info-wrapper">
    <span class="price" [ngbTooltip]="getProductPrice(product)">{{ getProductPrice(product) }}</span>
    <ui-button
      [type]="'warning'"
    >Add to cart</ui-button>
  </div>
</div>
