@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;


:host {
  display: block;

  .product-card-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    border-radius: 10px;
    border: 1px solid #ccc;

    .preview-wrapper {
      display: flex;
      flex-direction: column;

      .preview-title {
        max-width: 400px;
        cursor: pointer;
        @include text-ellipsis();
        font-size: 20px;
        font-family: Arial, serif;
        font-weight: bold;
      }

      .preview-image {
        margin: 10px 0;
      }

    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .availability {
        font-weight: bold;

        &.in_stock {
          color: green;
        }

        &.out_of_stock {
          color: red;
        }

        &.low_stock {
          color: orange;
        }
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .price {
        font-size: 40px;
        color: $burgundy;
        @include text-ellipsis();
        max-width: 200px;
      }

      ui-button {
        max-width: 130px;
        align-self: flex-end;
      }
    }

  }
}
