@use "../../../styles/colors" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $grey;
  width: 100%;
  height: 80px;

  .footer-container {
    padding: 10px 0;
    height: 100%;
    width: 60%;
  }

}
