@use "../styles/colors" as *;

:host {
  display: block;
  $header-height: 80px;
  $footer-height: 180px;

  .app-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .input-container {
      padding: 5px;
    }

    .body {
      width: 100%;
      min-height: calc(100vh - #{$header-height} - #{$footer-height});
      margin-top: $header-height;
      background-color: $light-blue
    }

  }
}
