@import "../../../styles/colors";

:host {

  $header-height: 80px;

  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: $header-height;

  border-bottom: 1px solid $grey;

  .header-container {
    height: 100%;
    width: 60%;
    min-width: 800px;
    display: flex;
    align-items: center;

    .logo-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .logo-name {
        color: $dark-grey;
      }

      ui-icon {
        margin: 10px;
      }
    }

    ui-input {
      width: 50%;
      align-items: center;
      margin: auto;
    }

    ui-dropdown::ng-deep {
      .dropdown > .dropdown-toggle {
        border: none;
      }
    }

    .shopping-cart-dropdown {
    }

  }

}
