/* You can add global styles to this file, and also import other style files */
@use "styles/colors" as *;
@use 'ngx-toastr/toastr';


html, body {
  height: 100%;
  font-family: sans-serif;
}

.form-control:focus {
  box-shadow: 0 0 0 .25rem $grey !important;
  border-color: $dark-grey !important;
}

.btn-outline-secondary:hover {
  background-color: $grey !important;
  border-color: $dark-grey !important;
}

.dropdown.with-hover:hover .dropdown-menu {
  display: block;
  margin-top: 1px;
}


ngb-pagination .page-item {
  &.active .page-link {
    background-color: $ngb-success;
    border-color: $ngb-success;
  }

  &:not(.active) .page-link {
    color: grey
  }

}
